<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoUpdateProjectsMinimumRequiredClickOnceVersion" version="1.1.0" targetFramework="net46" />
  <package id="CsvHelper" version="18.0.0" targetFramework="net46" />
  <package id="ExcelDataReader" version="3.6.0" targetFramework="net46" />
  <package id="ExcelDataReader.DataSet" version="3.6.0" targetFramework="net46" />
  <package id="FileHelpers" version="3.4.2" targetFramework="net46" />
  <package id="Microsoft.CodeAnalysis.NetAnalyzers" version="5.0.3" targetFramework="net46" developmentDependency="true" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net46" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net46" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net46" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net46" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net46" />
</packages>